
* {
  box-sizing: border-box;
}
.main {
  background: url(../photos/login-bg.jpg);
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  display: flex;
  font-weight: 400;
  font-family: 'baskerville', sans-serif;
  color:#aaabb8;
}
h1,h2,h3,h4,h5,h6,label,span {
  font-weight: 400;
  font-family: 'baskerville', sans-serif;
}
.main, html, .App, #root, .wrapper {
  width: 100%;
  height: 100%;
}

.wrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: left;
}
.inner {
  width: 450px;
  align-self: center;
  margin-top: 5%;
  background: #25274d;
  
  padding: 40px 55px 45px 55px;
  border-radius: 15px;
  transition: all .3s;
  
}

.wrapper h3{
  text-align: center;
  margin: 0;
  line-height: 1;
  padding-bottom: 20px;
}
.wrapper h1 {
  text-align: center;
}

i {
  text-align: center;
  width: 50px;
}
.custom-control-label {
  font-weight: 400;
  margin-left: 2%;
}
.custom-control-label:hover {
  color: #2e9cca;
}
.forgot-pass,
.forgot-pass a {
  font-size: 15px;
  padding-top: 10px;
  color: #aaabb8;
  margin: 0;
}
.forgot-pass a:hover{
  color: #2e9cca;
}
